* {
    padding: 0;
    margin: 0;
}
:root {
    --primary-color: rgb(0, 0, 138);
    --secondary-color: rgb(83, 70, 62);
    --tertiary-color: rgb(126, 126, 112);
}

.container-styles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 3fr 10vh;
    grid-template-areas: "nav nav nav" "header header header" "main main main" "footer footer footer";
    position: relative;
}

#header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    margin-top: 50px;
}

#mission-statement-text {
    margin: 50px 100px;
    padding: 20px;
    font-size: 1rem;
    color: white;
    text-align: center;
}

nav {
    grid-area: nav;
    background-color: black;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 3;
}

.nav-links-styles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
}

.nav-link-styles {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--primary-color);
}

#header-intro {
    color: whitesmoke;
}
header {
    grid-area: header;
    background-color: black;
    height: 100vh;
    
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: "projects" "about";
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: black;
}

.img-round {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: 3px solid rgb(0, 0, 138);
}

.mission-box {
    border-left: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    margin: 20px;
    padding: 20px;
    width: 28%;
    color: white;
    text-align: center;
}

.mission-box p {
    margin: 0 75px;
}

.projects {
    color: white;
    text-align: center;
    padding: 20px;
    border-top: 2px solid white;
    background-color: var(--secondary-color);
    grid-area: projects;
}

.projects-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 150px;
    margin-left: 700px;
    margin-right: 700px;
    border-bottom: 2px solid var(--primary-color);
    color: black;
}

.projects-title h2{
    font-size: 50px;
}

.card-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90%;
}

.card-box {
    border-right: var(--primary-color) 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    background-color: black;
}

.card-box-text {
    margin-right: 15%;
}

.card-box-text ul {
    list-style-type: square;
    text-align: left;
}

.about {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    border-top: 2px solid white;
    grid-area: about;
}

.about-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 150px;
    margin-left: 700px;
    margin-right: 700px;
    border-bottom: 2px solid var(--primary-color);
    color: black;
}

.about-title h2{
    font-size: 50px;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; 
    margin-top: 100px;
}

.skills h3 {
    margin: 20px auto;
}

.skills-about-me {
    margin: 50px 500px;
    color: white;
}